body{
    margin: 0px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
}
.h1{
    font-size: 50px;
}
.h2{
    font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-right: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    float: left;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.dream-area{
    float: left;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    float: left;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.singel-experience{
    box-shadow: 10px 10px 40px rgb(187, 180, 180);
    border-radius: 7px;
    height: 90%;
    padding: 5px;
    background-color: white;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(212, 85, 35), rgb(240, 177, 59)) ;
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(20, 20, 90), lightsalmon);
    border-image-slice: 1;

}
footer{
    text-align: center;
    font-size: 12px;
}